* {
	font-family: Helvetica, Arial, sans-serif;
}
	
header {
	background-color: Orange;
	font-size: 150%;
	font-weight: bold;
	padding: 20px;
}

header.search {
	font-size: 100%;}

a:link {
	font-color: #004b91}