<div class="modal fade aboutmodal" tabindex="-1" role="dialog" aria-labelledby="aboutmodal" aria-hidden="true" id="aboutmodal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">About PTX2</h4>
				</div>
				<div class="modal-body">
					<h5 class="text-left">How it works</h5>
					<p class="text-left">PTX2 is the newer, easier, and faster way to manage your textbooks on Princeton's campus. It's provides a quick and painless way to figure out where you can get your books for the lowest price, and also allows you to sell your old and used textbooks. When you buy or sell a book, we'll send an email to both parties to set up an efficient and cheap student-to-student transaction.</p><br>
					<h5 class="text-left">Credits</h5>
					<p class="text-left">PTX2 is a project for COS 333 (Spring 2014) that was intended to replace the old PTX. It was written and developed by Michael Li, Mark Tengi, Barbara Zhan, and Alan Zhou in hopes of finding the best bargains you can get for all of your textbook needs.</p>

			</div>
		</div>
	</div>
</div>