{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}PTX2 | Bookshelf{% endblock %}

{% block main %}
<div class="col-md-6 column">
	<div class="row clearfix" id="needtobuy">
		{% for reading in user.books_needed.all %}
		<div class="col-md-5">
			<div class="thumbnail">
				<div class="caption">
					<img src={{reading.book.picture_link}} width="130">
					<h5><a href="/books/{{reading.book.isbn}}"> {{ reading.book.title }}</a></h5>
					<p class="course_list">
						{% if reading.is_recommended == True %}
						Recommended for 
						{% else %}
						Required for 
						{% endif %}
						{% for course in reading.used_in.all %}<i><a href="/courses/{{ course.dept }}/{{ course.num }}">{{ course.dept }} {{ course.num }}</a></i><br> <!-- May need to fix later -->
						<i><a href="/courses/{{ course.dept }}/{{ course.num }}">{{ course.dept }} {{ course.num }}</a></i><br> 
						{% endfor %}
					</p>
					<p>
						<img src="http://www.labyrinthbooks.com/favicon.ico" height="12"; width="12"> ${{ reading.book.labyrinth_price }}<br>
						<img src="http://www.amazon.com/favicon.ico" height="12"; width="12"> ${{ reading.book.amazon_price }}<br>
						<img src="http://www.princeton.edu/favicon.ico" height="12"; width="12"> 
						{% if reading.book.lowest_student_price != 0 %}
						${{ reading.book.lowest_student_price }}<br>
						{% else %}
						No student offers<br>
						{% endif %}
					</p>
					<a href="#" data-toggle="modal" data-target="#watchlistmodal">Add to watch list?</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="row clearfix" id="selling">
		{% for listing in user.books_selling.all %}
		<div class="col-md-5">
			<div class="thumbnail">
				<div class="caption">
					<img src={{ listing.book.picture_link }} width="130">
					<h5><a href="/books/{{listing.book.isbn}}"> {{ listing.book.title }}</a></h5>
					<p>Selling for ${{ listing.price }}<br>
						{% if listing.sell_status == 'P' %}
						Offer made!<br>
						{% endif %}
					</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="row clearfix" id="owned">
		{% for book in user.books_owned.all %}
		<div class="col-md-5">
			<div class="thumbnail">
				<div class="caption">
					<img src="{% static 'img/'|add:book.isbn|add:'.jpg' %}" width="130">
					<h5><a href="/books/{{book.isbn}}"> {{ book.title }}</a></h5>
					<p class="course_list">
						{% if reading.is_recommended == True %}
						Recommended for 
						{% else %}
						Required for 
						{% endif %}
						{% for course in reading.used_in.all %}
						<i><a href="/courses/{{ course.dept }}/{{ course.num }}">{{ course.dept }} {{ course.num }}</a></i><br> <!-- May need to fix later -->
						<i><a href="/courses/{{ course.dept }}/{{ course.num }}">{{ course.dept }} {{ course.num }}</a></i><br> 
						{% endfor %}
					</p>
					<p>
						Owned<br>
						<a href="#" data-toggle="modal" data-target="#newlistingmodal">Sell?</a>
					</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% include 'forms/newlisting.html' %}
{% include 'forms/watchlist.html' %}
{% endblock %}
