{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}PTX2 | Search results for "{{ query }}"{% endblock %}

{% block main %}
<div class="col-md-8 column">
	<h4>Search results for "{{ query }}"</h4>
	<div class="row clearfix">
	{% for book in book_dict %}
		<div class="col-md-3">
			<div class="thumbnail">
				<div class="caption">
					<img src={{ book.picture_link }} width="130" class="img-responsive" alt="">
					<h5><a href="/{{ book.isbn }}"> {{ book.title }}</a></h5>
						<p>
                        {% include 'forms/price_widget.html' with labprice=book.labyrinth_price amazprice=book.amazon_price lowstud=book.lowest_student_price isbn=book.isbn isbn10=book.isbn10 inc_PU=True %}
						</p>
						<p>
                            {% include 'forms/newlisting.html' with title=book.title pk=0 bookpk=book.pk labprice=book.labyrinth_price amazprice=book.amazon_price lowstud=book.lowest_student_price isbn=book.isbn isbn10=book.isbn10 %}
                        <button class="full-width btn btn-primary btn-xs" href="#" data-toggle="modal" data-target="#newlistingmodal{{book.pk}}">Sell?</button></p>
                        <p>
                        {% if not book in user.books_needed.all %}
			            <button class="full-width btn btn-primary btn-xs" href="#" data-toggle="modal" data-target="#addtoneededmodal{{book.pk}}">Add to needed?</button>
			            {% include 'forms/addtoneeded.html' with book=book %}
			            {% else %}
			            <button class="full-width btn btn-primary btn-xs" disabled="disabled" href="#" data-toggle="modal" data-target="#addtoneededmodal{{book.pk}}">Already needed</button>
			            {% endif %}
			            </p>
					</div>
				</div>
			</div>
			{% endfor %}
<!--     {% for book in course.books.all %}
    <div class="col-md-6 column">
        <div class="row clearfix" id="bookinfo">
        <ul>
            <a href="/{{book.isbn}}">{{ book.title }}</a>
        </ul>
    </div>
    {% endfor %} -->
    </div>
</div>
{% include 'forms/newcourse.html' %}
{% endblock %}
