{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}PTX2 | Search results for "{{ query }}"{% endblock %}

{% block main %}
<div class="col-xs-8 column">
    {% if book_dict %}
    <h4>Books matching "{{ query }}"</h4>
    <div class="row clearfix">
    {% for book in book_dict %}
        <div class="col-xs-3">
            <div class="thumbnail">
                <div class="caption">
                    <a href="/{{book.isbn}}">
                        <img src={{ book.picture_link }} class="img-responsive" alt=""> 
                    </a>
                    <h5><a href="/{{ book.isbn }}"> {{ book.title }}</a></h5>
                        <p>
                            {% include 'forms/price_widget.html' with labprice=book.labyrinth_price amazprice=book.amazon_price lowstud=book.lowest_student_price isbn=book.isbn isbn10=book.isbn10 inc_PU=True %}
                        </p>
                        <p>
                        <button class="full-width btn btn-primary btn-xs" href="#" data-toggle="modal" data-target="#newlistingmodal{{book.pk}}">Sell?</button></p>
                        <p>
                        {% if not book in user.books_needed.all %}
                        <button class="full-width btn btn-primary btn-xs" href="#" data-toggle="modal" data-target="#addtoneededmodal{{book.pk}}">Add to needed?</button>
                        {% else %}
                        <button class="full-width btn btn-primary btn-xs" disabled="disabled" href="#" data-toggle="modal" data-target="#addtoneededmodal{{book.pk}}">Already needed</button>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            {% include 'forms/newlisting.html' with title=book.title pk=0 bookpk=book.pk labprice=book.labyrinth_price amazprice=book.amazon_price lowstud=book.lowest_student_price isbn=book.isbn isbn10=book.isbn10 %}
            {% include 'forms/addtoneeded.html' with book=book %}
            {% endfor %}
    </div>
    {% endif %}
    {% if courses %}
    <h4>Courses matching "{{ query }}"</h4>
	<div class="row clearfix">
	{% for course in courses %}
    <div display="inline-block">
        {% if course in user.course_list.all %}
        <div class="form-group">
            <script type="text/javascript">
                document.write("<span class=\"glyphicon glyphicon-ok\" title=\"Added\"></span>");
                </script>
                <noscript>
                    <button type="submit" class="btn btn-default btn-xs" disabled="disabled">Added</button>
                </noscript>
                <s><a href="/courses/{{ course.dept }}/{{ course.num }}">{{course.dept}} {{course.num}} ({{course.name}})</a></s>
                <!--<button type="submit" class="btn btn-default btn-xs btn-link" disabled="disabled">Already added</button>-->
            </div>
            {% else %}
            <form class="form-inline" name="searchcourses" action="/addcourse/" method="post" id="form{{course.id}}">{% csrf_token %}
                <div class="form-group">
                    <script>
                        document.write("<span class=\"glyphicon glyphicon-plus btn-link\" title=\"Add course?\" onclick=\"document.getElementById('form{{course.id}}').submit()\"></span>")
                    </script>
                    <noscript>
                        <button type="submit" class="btn btn-default btn-xs">Add?</button>
                    </noscript>
                    <a href="/courses/{{ course.dept }}/{{ course.num }}">
                        {{course.dept}} {{course.num}} ({{course.name}})</a>
                    <input type="hidden" name="course" value="{{course.id}}">
                    {% if course_dict|length = 1 %}
                    <input type="hidden" name="prevpage" value="/bookshelf">
                    {% else %}
                    <input type="hidden" name="prevpage" value="/search/?q={{query}}">
                    {% endif %}
                    <!--<button type="submit" class="btn btn-default btn-xs btn-link"><span class="glyphicon glyphicon-plus">Add</span></button>-->
                </div>
            </form>
            {% endif %}
        </div>

    {% endfor %}
    </div>

    {% endif %}
</div>
{% include 'forms/newcourse.html' %}
{% endblock %}
