{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}PTX2 | {{ book.title }}{% endblock %}

{% block main %}
<div class="col-md-9 column">
    <div class="row clearfix">
    <h4>{{ book.title }}</h4>
        <div class="col-md-2">
           <img src={{ book.picture_link }} width="130">
        </div>
        <div class="col-md-6">
        Used in {% for course in courses %}<i><a href="/courses/{{ course.dept }}/{{ course.num }}">{{ course.dept }} {{ course.num }}</a></i>{% if forloop.revcounter0 != 0 %}{% if forloop.revcounter0 = 1 %} and {% else %}, {% endif %}{% endif %}{% endfor %}
            <!--<p><i><a href="/courses/{{ book.course_usedin.dept }}/{{ book.course_usedin.course_code }}"> {{ book.course_usedin.dept }} {{ book.course_usedin.course_code }}</a></i><br>
                {% if person.book.owned %}
                {% if person.book.selling %}
                Selling for ${{ person.book.sell_price }}<br>
                {% else %}
                Owned.
                <a href="#" data-toggle="modal" data-target="#newlistingmodal"> Sell?</a>
                {% endif %} 
                {% else %}
            </p>
            <p>
	      <a href="http://www.labyrinthbooks.com/all_detail.aspx?isbn={{book.isbn}}" target="_blank">
                <img src="http://www.labyrinthbooks.com/favicon.ico" height="12"; width="12"> ${{ book.labyrinth_price }}<br> </a>
              <a href="http://www.amazon.com/gp/product/{{ book.isbn10 }}" target="_blank">  
	      <img src="http://www.amazon.com/favicon.ico" height="12"; width="12"> ${{ book.amazon_price }}<br></a>
      </p>-->
      <p>
      {% include 'forms/price_widget.html' with labprice=book.labyrinth_price amazprice=book.amazon_price lowstud=book.lowest_student_price isbn=book.isbn isbn10=book.isbn10 %}
      </p>
            {% endif %}
            <button class="btn btn-primary btn-xs" href="#" data-toggle="modal" data-target="#newlistingmodal{{book.pk}}">Sell?</button>
            {% include 'forms/newlisting.html' with title=book.title pk=0 bookpk=book.pk labprice=book.labyrinth_price amazprice=book.amazon_price lowstud=book.lowest_student_price isbn=book.isbn isbn10=book.isbn10 %}
            <button class="btn btn-primary btn-xs" href="#" data-toggle="modal" data-target="#addtoneededmodal{{book.pk}}">Add to needed?</button>
        </div>
    </div>
    <div class="row clearfix">
        <br><h5>Student Offers</h5>
        {% if listings.all %}
        <table class="table table-condensed">
            <tr class="clickableRow" href="/buy">
                <th>Price</th>
                <th>Owner's comments</th>
                <th></th>
            </tr>
            {% for listing in listings|dictsort:"price" %}
            {% if listing.owner = user %}
            <tr bgcolor="#ddeeff">
                <td>${{ listing.price|floatformat:2 }}</td>
                <td>{% if listing.comment %}{{ listing.comment }}{% else %}<span class="text-muted">None.</span>{% endif %}</td>
                {%comment%}<td><a href="{% url 'ptx2app.views.remove_listing' listingid=listing.id %}">Remove listing?</a></td>{%endcomment%}
                <td><form class="form-inline no-pad" action="/remove_listing/" method="POST"> {% csrf_token %}
                        <button class="btn btn-default btn-xs" type="submit">Remove listing?</button>
                        <input type="hidden" name="listingid" value="{{listing.id}}">
                    </form>
                </td>

            </tr>
            {% else %}
            <tr>
                <td>${{ listing.price|floatformat:2 }}</td>
                <td>{% if listing.comment %}{{ listing.comment }}{% else %}<span class="text-muted">None.</span>{% endif %}</td>
                {%comment%}<td><a href="{% url 'ptx2app.views.buybook' isbn=book.isbn listingid=listing.id %}">Buy</a></td>{%endcomment%}
                <td><form class="form-inline no-pad" action="/buybook/" method="POST"> {% csrf_token %} <!--replacing url args with form-->
                        <button class="btn btn-default btn-xs" type="submit">Buy</button>
                        <input type="hidden" name="isbn" value="{{book.isbn}}">
                        <input type="hidden" name="listingid" value="{{listing.id}}">
                    </form>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        {% else %}
        <p>Currently no student offers.</p>
        {% endif %}
    </div>
</div>
{% include 'forms/newlisting.html' %}
{% include 'forms/watchlist.html' %}
{% endblock %}

jQuery(document).ready(function($) {
      $(".clickableRow").click(function() {
            window.document.location = $(this).attr("href");
      });
});
