{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}PTX2 | {{ book.title }}{% endblock %}

{% block main %}
<div class="col-md-9 column">
    <div class="row clearfix">
        <div class="col-md-2">
           <img src={{ book.picture_link }} width="130">
        </div>
        <div class="col-md-6">
            <h5><a href="/books/{{book.isbn}}"> {{ book.title }}</a></h5>
            <p><i><a href="/courses/{{ book.course_usedin.dept }}/{{ book.course_usedin.course_code }}"> {{ book.course_usedin.dept }} {{ book.course_usedin.course_code }}</a></i><br>
                {% if person.book.owned %}
                {% if person.book.selling %}
                Selling for ${{ person.book.sell_price }}<br>
                {% else %}
                Owned.
                <a href="#" data-toggle="modal" data-target="#newlistingmodal"> Sell?</a>
                {% endif %} 
                {% else %}
            </p>
            <p>
                <img src="http://www.labyrinthbooks.com/favicon.ico" height="12"; width="12"> ${{ book.labyrinth_price }}<br>
                <img src="http://www.amazon.com/favicon.ico" height="12"; width="12"> ${{ book.amazon_price }}<br>
            </p>
            <a href="#" data-toggle="modal" data-target="#watchlistmodal">Add to watch list?</a>
            {% endif %}
        </div>
    </div>
    <div class="row clearfix">
        <br><h4>Student Offers</h4>
        <table class="table table-hover">
            <tr class="clickableRow" href="/buy">
                <th>Price</th>
                <th>Owner's comments</th>
            </tr>
            {% for listing in listings %}
            <tr>
                <td>${{ listing.price|floatformat:2 }}</td>
                <td>{{ listing.book.comment }}</td>
                <td>{% url 'ptx2app.views.buybook' listing %}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% include 'forms/newlisting.html' %}
{% include 'forms/watchlist.html' %}
{% endblock %}

jQuery(document).ready(function($) {
      $(".clickableRow").click(function() {
            window.document.location = $(this).attr("href");
      });
});
