{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}PTX2 | Bookshelf{% endblock %}

{% block main %}
<div class="col-md-6 column">
	<div class="row clearfix" id="needtobuy">
	{% for book in books_needed %}
		<div class="col-md-4">
			<div class="thumbnail">
				<div class="caption">
					<img src="{% static 'img/'|add:book.isbn|add:'.jpg' %}" width="130">
					<h5><a href="/books/{{book.isbn}}"> {{ book.title }}</a></h5>
					<p><i><a href="/courses/{{ book.course_usedin.dept }}/{{ book.course_usedin.course_code }}"> {{ book.course_usedin.dept }} {{ book.course_usedin.course_code }}</a></i><br>
						<img src="http://www.labyrinthbooks.com/favicon.ico" height="12"; width="12"> ${{ book.labyrinth_price }}<br>
						<img src="http://www.amazon.com/favicon.ico" height="12"; width="12"> ${{ book.amazon_price }}<br>
						<img src="http://www.princeton.edu/favicon.ico" height="12"; width="12"> 
						{% if not book.student_price = '0' %}
						${{ book.student_price }}<br>
						{% else %}
						No student offers<br>
						{% endif %}
					</p>
					<a href="#" data-toggle="modal" data-target="#watchlistmodal">Add to watch list?</a>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
		<div class="row clearfix" id="selling">
		{% for book in books_selling %}
		<div class="col-md-4">
			<div class="thumbnail">
				<div class="caption">
					<img src="{% static 'img/'|add:book.isbn|add:'.jpg' %}" width="130">
					<h5><a href="/books/{{book.isbn}}"> {{ book.title }}</a></h5>
					<p><i><a href="/courses/{{ book.course_usedin.dept }}/{{ book.course_usedin.course_code }}"> {{ book.course_usedin.dept }} {{ book.course_usedin.course_code }}</a></i><br>
					Selling for ${{ book.selling_for }}<br>
					</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
		<div class="row clearfix" id="owned">
		{% for book in books_owned %}
		<div class="col-md-4">
			<div class="thumbnail">
				<div class="caption">
					<img src="{% static 'img/'|add:book.isbn|add:'.jpg' %}" width="130">
					<h5><a href="/books/{{book.isbn}}"> {{ book.title }}</a></h5>
					<p><i><a href="/courses/{{ book.course_usedin.dept }}/{{ book.course_usedin.course_code }}"> {{ book.course_usedin.dept }} {{ book.course_usedin.course_code }}</a></i><br>
						Owned<br>
						<a href="#" data-toggle="modal" data-target="#newlistingmodal">Sell?</a>
					</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% include 'forms/newlisting.html' %}
{% include 'forms/watchlist.html' %}
{% endblock %}