{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}PTX2 | Bookshelf{% endblock %}

{% block main %}
<div class="col-md-8 column">
	{% if first_visit %}
	<div class="alert alert-info alert-dismissable text-center"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Welcome!</strong> This appears to be your first visit. Get started by <a href="#" data-toggle="modal" data-target="#newcoursemodal" class="alert-link">adding a new course</a>.</div>
	{% endif %}
	{% if just_removed %}
	<div class="alert alert-info text-center"><i>{{dept}} {{num}} ({{r}})</i> has been removed.</div>
	{% endif %}
	<div class="row clearfix" id="needtobuy">
	{% if user.books_needed.all %}

		<h4 padding-left="5px"> Books Needed </h4>
		{% for book in user.books_needed.all %}
		<div class="col-md-3">
			<div class="thumbnail">
				<div class="caption">
					<img src={{ book.picture_link }} class="img-responsive" alt="">
					<h5><a href="/{{book.isbn}}"> {{ book.title }}</a></h5>
					<p class="course_list">
						{% for course in user.course_list.all %}
						{% for reading in course.books.all %}
						{% if reading == book %}
						Used in <i><a href="/courses/{{ course.dept }}/{{ course.num }}">{{ course.dept }} {{ course.num }}</a></i><br>
						{% endif %}
						{% endfor %}
						{% endfor %}</p>
						<p>
						  <a href="http://www.labyrinthbooks.com/all_detail.aspx?isbn={{book.isbn}}">
							<img src="http://www.labyrinthbooks.com/favicon.ico" height="12"; width="12"> ${{ book.labyrinth_price }}<br></a>
							<a href="http://www.amazon.com/gp/product/{{ book.isbn10 }}">
						  <img src="http://www.amazon.com/favicon.ico" height="12"; width="12"> ${{ book.amazon_price }}<br></a>
							<img src="http://www.princeton.edu/favicon.ico" height="12"; width="12"> 
							{% if book.lowest_student_price != None %}
							${{ book.lowest_student_price }}.00<br>
							{% else %}
							No student offers<br>
							{% endif %}
						</p>
						<p>
						<div class="btn-group">
							<form id="markasownedform" method="get" name="markasowned" action="/markasowned/"> {% csrf_token %}
							<button type="submit" class="btn btn-primary btn-xs" title="Mark as owned">Mark as owned</button>
							</form>
						</div>
						</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endif %}
		<div class="row clearfix" id="selling">
			{% if user_selling.all %}

			<h4 padding-left="5px">Selling </h4>
			{% for listing in user_selling.all %}
			{% if forloop.counter|divisibleby:5 %}
				</div>
				<div class="row clearfix" id="needtobuy">
			{% endif %}
			<div class="col-md-3">
				<div class="thumbnail">
					<div class="caption">
						<img src={{ listing.book.book.picture_link }} class="img-responsive" alt="">
						<h5><a href="/{{listing.book.book.isbn}}"> {{ listing.book.book.title }}</a></h5>
						<p>Selling for ${{ listing.price }}<br>
							{% if listing.sell_status == 'P' %}
							Offer made!<br>
							{% endif %}
						</p>
						<p>
						<div class="btn-group">
							<!-- <form class="form-inline" id="editlistingform" method="get" name="editlistingform" action="/editlistingform/"> {% csrf_token %} -->
							<button type="submit" class="btn btn-default btn-sm" title="Edit listing"><span class="glyphicon glyphicon-pencil"></span></button>
							<!-- </form> -->
							<!-- <form class="form-inline" id="removelistingform" method="get" name="removelistingform" action="/removelistingform/"> {% csrf_token %} -->
							<button type="submit" class="btn btn-default btn-sm" title="Remove listing"><span class="glyphicon glyphicon-remove"></span></button>
							<!-- </form> -->
						</div>
						</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endif %} 
		<div class="row clearfix" id="owned">
			{% if user.books_owned.all %}

			<h4 padding-left="5px">Owned</h4>
			{% for book in user.books_owned.all %}
			{% if forloop.counter|divisibleby:5 %}
				</div>
				<div class="row clearfix" id="needtobuy">
			{% endif %}
			<div class="col-md-3">
				<div class="thumbnail">
					<div class="caption">
						<img src={{book.book.picture_link}} class="img-responsive" alt="">
						<h5><a href="/{{book.book.isbn}}"> {{ book.book.title }}</a></h5>
						<p>
							Owned<br>
							<a href="#" data-toggle="modal" data-target="#newlistingmodal">Sell?</a>
						</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	{% include 'forms/newlisting.html' %}
	{% endblock %}
