{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}PTX2 | {{ course.name }}{% endblock %}
{% block main %}
<div class="col-md-8 column">
{% for course in course_dict %}
<form name="searchcourses" method="post">{% csrf_token %}
<input type="hidden" name="course" value="{{course.id}}">
<input name="Add" type="submit" class="btn btn-default">
</form>
<p>{{course.id}}</p>
<a href="/courses/{{ course.dept }}/{{ course.num }}"><h4>{{course.name}} ({{course.dept}} {{course.num}})</h4>
</a>
{% endfor %}
</div>
{% ifequal course_dict|length 0 %}
<h4> No courses found </h4>
{% endifequal %}
{% include 'forms/newlisting.html' %}
{% include 'forms/newcourse.html' %}
{% endblock %}

