{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}PTX2 | {{ course.name }}{% endblock %}
{% block main %}
<div class="col-md-8 column">
{% for course in course_dict %}
<span class="glyphicon glyphicon-plus"></span>
<a href="/courses/{{ course.dept }}/{{ course.num }}">
<h4>{{course.name}} ({{course.dept}} {{course.num}})</h4>
</a>
{% endfor %}
</div>
{% if len(course_dict) == 0 %}
<h4> No courses found </h4>
{% include 'forms/newlisting.html' %}
{% include 'forms/newcourse.html' %}
{% endblock %}

