{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}PTX2 | Search results for "{{ query }}"{% endblock %}
{% block main %}
<div class="col-md-8 column">
	<h4>Search results for "{{ query }}"</h4>
	{% ifequal course_dict|length 0 %}
	<p>No courses found</p>
	{% endifequal %}
	{% for course in course_dict %}
	<div display="inline-block">
		{% if course in user.course_list.all %}
		<form class="form-inline" name="searchcourses" method="post">{% csrf_token %}
		<div class="form-group">
			<s><a href="/courses/{{ course.dept }}/{{ course.num }}">{{course.name}} ({{course.dept}} {{course.num}})</a></s>
			<input type="hidden" name="course" value="{{course.id}}">
			<button type="submit" class="btn btn-default btn-xs" disabled="disabled">Already added</button>
			</div>
		</form>
		{% else %}
		<form class="form-inline" name="searchcourses" method="post">{% csrf_token %}
		<div class="form-group">
			<a href="/courses/{{ course.dept }}/{{ course.num }}">{{course.name}} ({{course.dept}} {{course.num}})</a>
			<input type="hidden" name="course" value="{{course.id}}">
			<button type="submit" class="btn btn-default btn-xs">Add</button>
			</div>
		</form>
		{% endif %}
	</div>
	{% endfor %}
</div>
{% include 'forms/newlisting.html' %}
{% include 'forms/newcourse.html' %}
{% endblock %}

