{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}PTX2 | {{ course.name }}{% endblock %}

{% block main %}
<form class="form-inline" action="/addcourse/" method="post" id="form{{course.id}}">{% csrf_token %}
    <h4>{{course.name}} ({{course.dept}} {{course.num}})&nbsp; 
        {% if course in user.course_list.all %}
        <button class="btn btn-default" disabled="disabled"><span class="glyphicon glyphicon-ok"></span> Course added</button>
        {% else %}
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add</button>
        <input type="hidden" name="course" value="{{course.id}}">
        {% endif %}
    </h4>
</form>
<div class="col-xs-6 column">
    <div class="row clearfix">
        {% for book in course.books.all %}
        <div class="col-xs-4">
            <div class="thumbnail">
                <div class="caption">
                    <a href="/{{ book.isbn }}">
                        <img src={{ book.picture_link }} class="img-responsive" alt=""></a>
                    <h5><a href="/{{ book.isbn }}"> {{ book.title }}</a></h5>
                    <p>
                    {% include 'forms/price_widget.html' with labprice=book.labyrinth_price amazprice=book.amazon_price lowstud=book.lowest_student_price isbn=book.isbn isbn10=book.isbn10 inc_PU=True %}
                    </p>
                    <p>
                    <button class="btn btn-primary btn-xs full-width" href="#" data-toggle="modal" data-target="#newlistingmodal{{book.id}}">Sell?</button>
                    </p>
                    {% if not book in user.books_needed.all %}
                    <button class="btn btn-default btn-xs full-width" href="#" data-toggle="modal" data-target="#addtoneededmodal{{book.pk}}">Add to needed?</button>
                    {% include 'forms/addtoneeded.html' with book=book %}
                    {% else %}
                    <button class="btn btn-default btn-xs full-width" href="#" data-toggle="modal" data-target="#removefromneededmodal{{book.pk}}">Remove from needed?</button>
                    {% include 'forms/removefromneeded.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% include 'forms/newlisting.html' with title=book.title pk=0 bookpk=book.pk labprice=book.labyrinth_price amazprice=book.amazon_price lowstud=book.lowest_student_price isbn=book.isbn isbn10=book.isbn10 %}
        {% endfor %}
        {% ifequal course.books.all|length 0 %}
        <p>No books for this course </p>
        {% endifequal %}
    </div>
</div>
{% include 'forms/newlisting.html' %}
{% include 'forms/newcourse.html' %}
{% endblock %}
