<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="faqmodal" aria-hidden="true" id="faqmodal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="glyphicon glyphicon-remove">
                    </span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Frequently Asked Questions</h4>
            </div>
            <div class="modal-body">
                <h5>Why is my course not showing when I search for it? </h5>
                <p>So far, we only have course data for Spring 2014 in our system. The registrar should be putting up the Fall 2014 data in September so stay tuned for that! </p>
                <br>
                <h5>Why is the Amazon price from the Amazon link slightly different than the numbers on PTX 2? </h5>
                <p> Amazon updates their numbers up to several times a day. We retrieve the price information less often than that. However, the prices tend to remain pretty much the same. </p>

            </div>
        </div>
    </div>
</div>
