{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}PTX2 | Help {% endblock %}

{% block main %}
<div class="col-xs-6 column">
	<div class="row clearfix">
	  <h4>Frequently Asked Questions</h4>
	  <p> 1. Why is my course not showing when I search for it? </p>
	  <p> We've only scraped the data for the Spring 2014 courses so far. The registrar should be putting up the Fall 2014 data in September so stay tuned for that! </p>
	  <p> 2. Why is the Amazon price from the Amazon link slightly different than the numbers on PTX 2? </p>
	  <p> Amazon updates their numbers up to several times a day. We scrape the price information less often than that. However, the prices tend to remain pretty much the same. </p>
	  </div>
</div>
{% include 'forms/newlisting.html' %}
{% include 'forms/newcourse.html' %}
{% include 'forms/sellbook.html' %}
{% endblock %}
