<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<a class="navbar-brand" href="/bookshelf">PTX 2</a>
		<form class="navbar-form navbar-left" role="search" action="/search/" method="get">
			<div class="form-group col-xs-5">
				<input type="text" class="form-control" placeholder="Search for books by course (e.g. 'COS 333') or title" name="q">
			</div>
		</form>
		<p class="navbar-text navbar-right"><a href="/logout" class="navbar-link">Logout</a></p>
		
		<p class="navbar-text navbar-right">Signed in as <a data-toggle="modal" href="#profilemodal">{{ user.user }}</a>
        </p>
	</div>
</nav>

{% include 'forms/profilemodel.html' %}