<div class="row clearfix">
	<div class="col-md-12 column">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">PTX 2</a>
			</div>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search for books by title, author, course or ISBN..." style="width: 250%">
				</div>
			</form>
			<p class="navbar-text navbar-right"><a href="/logout" class="navbar-link">Logout</a></p>
			<p class="navbar-text navbar-right">Signed in as {{ person.first_name }} {{ person.last_name}} </a></p>
		</nav>
	</div>
</div>
