{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}PTX2 | Pending Transactions{% endblock %}

{% block main %}
        <div class="col-xs-9 column">
        <div class="row clearfix">
	<h4> Pending Transactions</h4>
	{% if not transactions.all %}
	<p>Currently no pending transactions.</p>
	{% else %}
	<table class="table table-striped table-bordered">
	 <thead>
	 <tr>
	  <th>Seller</th>
	  <th>Buyer</th>
	  <th>Title</th>
	  <th>Price</th>
	</tr>
	</thead>
	<tbody>
	{% for transaction in transactions %}
	<tr>
	  <td> {{transaction.seller.user.username}}</td>
	  <td> {{transaction.buyer.user.username}}</td>
	  <td>  {{transaction.book.book.title}} </td>
	  <td> {{transaction.price}}</td>
{% if (transaction.buyer.user == user and transaction.buyerreview == None) or (transaction.seller.user == user and transaction.sellerreview == None) %}
		<td><a href="{% url 'ptx2app.views.pendingtransaction' id=transaction.id %}">Review and Confirm</a></td>
{% else %}
		<td> Confirmed </td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% endif %}
</div>
</div>

{% include 'forms/newlisting.html' %}
{% include 'forms/watchlist.html' %}
{% endblock %}

jQuery(document).ready(function($) {
      $(".clickableRow").click(function() {
            window.document.location = $(this).attr("href");
      });
});
