{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}PTX2 | Selling {{ book.title }}{% endblock %}

{% block main %}
<h4>Thank you for deciding to sell your book with us!</h4>
<p>First, describe the condition of your book. Include any obvious flaws, such as tears, rips, etc., but also warrant its merits- brand new, like new, etc.</p>
<form action="" method="post" >{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% include 'forms/newlisting.html' %}
{% include 'forms/watchlist.html' %}
{% endblock %}

jQuery(document).ready(function($) {
      $(".clickableRow").click(function() {
            window.document.location = $(this).attr("href");
      });
});
