{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}PTX2 | Selling {{ book.title }}{% endblock %}

{% block main %}
<div class="col-md-8 column">
<h4>Next, set your price!</h4>
<form action="" method="post" >{% csrf_token %}
<p><label for="id_price">Price:</label>
<input id="id_price" class="form-control" name="price" step="0.1" type="number" /></p>
<div class="form-group">
	<button type="submit" class="btn btn-default">Sell book</button>
</div>
</form>

{% include 'forms/newlisting.html' %}
{% include 'forms/watchlist.html' %}
</div>
{% endblock %}

jQuery(document).ready(function($) {
      $(".clickableRow").click(function() {
            window.document.location = $(this).attr("href");
      });
});
