{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}PTX2 | Selling {{ book.title }}{% endblock %}

{% block main %}
<h4>Next, set your price!</h4>
<form action="" method="post" >{% csrf_token %}
<p><label for="id_comment">Comment:</label>
    <textarea id="id_comment" type="text" name="comment" maxlength="500" class="form-control" rows="3"></textarea></p>
<input type="submit" value="Submit" />
</form>

{% include 'forms/newlisting.html' %}
{% include 'forms/watchlist.html' %}
{% endblock %}

jQuery(document).ready(function($) {
      $(".clickableRow").click(function() {
            window.document.location = $(this).attr("href");
      });
});
