<div class="col-md-3 column">
	<ul class="nav nav-pills nav-stacked">
		<h4 style="font-variant:small-caps">Bookshelf</h4>
		<li><a href="/bookshelf"><span class="badge pull-right">{{ user.books_needed.all|length|add:user.books_owned.all|length }}</span>All Items</a></li>
		<li><a href="/bookshelf/#needtobuy"><span class="badge pull-right">{{ user.books_needed.all|length }}</span>Need to Buy</a></li>
		<li><a href="/bookshelf/#selling"><span class="badge pull-right">{{ user.books_selling.all|length }}</span>Selling</a></li>
		<li><a href="/bookshelf/#owned"><span class="badge pull-right">{{ user.books_owned.all|length }}</span>Owned</a></li>
		<li><a href="#" data-toggle="modal" data-target="#watchlistmodal"><span class="glyphicon glyphicon-plus"></span> Add book</a></li>
		<h4 style="font-variant:small-caps">Courses</h4>
		{% for course in user.course_list.all %}
		<li><a href="/courses/{{course.dept}}/{{course.code}}"><span class="badge pull-right">0/{{course.books}}</span>{{course.dept.upper}} {{course.code}}</a></li>
		{% endfor %}
		<li><a href="courses/other"><span class="badge pull-right">0</span>Other</a></li>
		<li><a href="/bookshelf/addcourse"><span class="glyphicon glyphicon-plus"></span> Add course</a></li>
		<h4 style="font-variant:small-caps">Account Info</h4>
		<li><a href="profile">My Profile</a></li>
		<li><a href="history">My History</a></li>
		<li><a href="watchlist">My Watch List</a></li>
	</ul>
</div>
<div class="col-md-6 column">
	<div class="row clearfix" id="needtobuy">
		<div class="col-md-4">
		</div>
	</div>
</div>
