<div class="modal fade firstvisitmodal" tabindex="-1" role="dialog" aria-labelledby="firstvisitmodal" aria-hidden="true" id="firstvisitmodal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="firstvisitmodal">Welcome to PTX2!</h4>
            </div>
            <div class="modal-body">
                <div>This appears to be your first visit to our site.<br><br>
                To get started, please fill out your name and preferred meeting place. These will be sent in emails to people you buy from and sell to in order to smooth out the transaction process.<br><br>
                    <form action="/profile/" method="POST" id="editprofile">{% csrf_token %}
                        <div class="form-group">
                            <label for="id_first_name_first">First name:</label>
                            <div class="input-group">
                                <input id="id_first_name_first" name="first_name" type="text" class="form-control" required>
                            </div>
                            <br>
                            <label for="id_last_name">Last name:</label>
                            <div class="input-group">
                                <input id="id_last_name_first" name="last_name" type="text" class="form-control" required>
                            </div>
                            <br>
                            <label for="id_pref_meeting_place">Preferred meeting place:</label>
                            <div class="input-group">
                                <input id="id_pref_meeting_plac_first" name="pref_meeting_place" type="text" class="form-control" required>
                            </div>
                            <div align="right">
                                <input type="submit" name="Submit" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>          
    </div>
</div>
<script type="text/javascript">
    $('#firstvisitmodal').on('shown.bs.modal', function() {$('#id_first_name_first').focus()});
</script>

