<div class="modal fade markasownedmodal" tabindex="-1" role="dialog" aria-labelledby="markasownedmodal" aria-hidden="true" id="markasownedmodal{{book.id}}">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header"><h5 class="modal-title" id="myModalLabel">Mark <i>{{book.title}}</i> as owned?</h5></div>
			<div class="modal-body">
				<div align="right"><form name="markasowned" method="get" action="/remove">
					<input type="hidden" name="m" value="{{book.id}}"></input>
                    <input type="hidden" name="oldpage" value=""></input>
					<input name="Mark as owned" type="submit" class="btn btn-danger"></input>
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
					</form>
				</div>
			</div>
		</div>
	</div>          
</div>
