<div class="modal fade newcoursemodal" tabindex="-1" role="dialog" aria-labelledby="newcoursemodal" aria-hidden="true" id="newcoursemodal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myModalLabel">Add new course</h5>
				</div>
				<div class="modal-body">
					<form id="addnewcourseform" method="get" name="addnewcourseform" action="/searchcourses/">
					<div class="form-group">
                        <input type="text" class="form-control" data-provide="typeahead" placeholder="Search for courses to add (e.g. 'COS333' or 'COS')" name="q" id="newCourseInput"><br>
                        <div align="right">
                            <input type="submit" name="Search courses" class="btn btn-primary">
                            <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        </div>
                    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$('#newcoursemodal').on('shown.bs.modal', function() {$('#newCourseInput').focus()});
</script>
