<div class="modal fade newcoursemodal" tabindex="-1" role="dialog" aria-labelledby="newcoursemodal" aria-hidden="true" id="newcoursemodal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h5 class="modal-title" id="myModalLabel">Add new course(s)</h5>
				</div>
				<div class="modal-body">
					<form id="addnewcourseform" method="get" name="addnewcourseform" action="/searchcourses/"> {% csrf_token %}
					<div class="form-group">
						<input type="text" class="form-control" data-provide="typeahead" placeholder="Search for courses to add (e.g. 'COS333; COS')" name="q"> 
					</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Search course(s)</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
				</div>          
			</div>
		</div>
	</div>
</div>
