<div class="modal fade newcoursemodal" tabindex="-1" role="dialog" aria-labelledby="newcoursemodal" aria-hidden="true" id="newcoursemodal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Add new course(s)</h4>
				</div>
				<div class="modal-body">
					<form id="addnewcourseform" method="POST" name="addnewcourseform">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="List courses to add, separated by a semicolon (e.g. 'COS226; COS333'">
					</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Add course(s)</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
				</div>          
			</div>
		</div>
	</div>
</div>