<div class="modal fade newlistingmodal" tabindex="-1" role="dialog" aria-labelledby="newlistingmodal" aria-hidden="true" id="newlistingmodal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Sell "{{ book.title }}"</h4>
				</div>
				<div class="modal-body">
					<form class="sellBookForm" action="/forms/sell_book" method="post">
						{% csrf_token %}
           						 {% for hidden in form.hidden_fields %}
              							  {{ hidden }}
            						{% endfor %}

            					{% for field in form.visible_fields %}
                					{{ field.errors }}
                					{{ field.help_text}}
                					{{ field }}
           					 {% endfor %}
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Add listing</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
				</div>          
			</div>
		</div>
	</div>
</div>
