<div class="modal fade profilemodal" tabindex="-1" role="dialog" aria-labelledby="profilemodal" aria-hidden="true" id="profilemodal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header"><h5 class="modal-title" id="myModalLabel">Change your profile details</h5></div>
			<div class="modal-body">
				<div align="right"><form name="profilemodal" method="post" action="/profile/">{% csrf_token %}
{{ form.as_p }}
                    <input type="hidden" name="oldpage" value=""></input>
					<input name="Change" type="submit" class="btn btn-danger" value="Change"></input>
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
					</form>
				</div>
			</div>
		</div>
	</div>          
</div>
