<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="removecoursemodal" aria-hidden="true" id="removecoursemodal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Remove Course?</h4>
				</div>
				<div class="modal-body">
					<button type="button" class="btn btn-danger" width="100px">Remove</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
				</div>          
				<div class="modal-footer">
				  </div>
			</div>
		</div>
	</div>
</div>
