<div class="modal fade removefromsellingmodal" tabindex="-1" role="dialog" aria-labelledby="removefromsellingmodal" aria-hidden="true" id="removefromsellingmodal{{listing.id}}">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Remove <i>{{listing.book.book.title}}</i> from Books Selling?</h5>
            </div>
            <div class="modal-body">
                <div align="right">
                    <form name="removefromselling" method="post" action="/removefromselling/"> {% csrf_token %}
                        <input type="hidden" name="s" value="{{listing.book.id}}"></input>
                        <input name="Mark as owned" type="submit" class="btn btn-danger"></input>
                        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>          
</div>
