<div class="modal fade removefromownedmodal" tabindex="-1" role="dialog" aria-labelledby="removefromownedmodal" aria-hidden="true" id="removefromownedmodal{{book.id}}">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Remove <i>{{book.book.title}}</i> from Books Owned?</h4>
            </div>
            <div class="modal-body">
                <div align="right">
                    <form name="removefromowned" method="get" action="/removefromowned">
                        <input type="hidden" name="o" value="{{book.id}}"></input>
                        <input name="Mark as owned" type="submit" class="btn btn-danger"></input>
                        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>          
</div>
