<div class="modal fade removecoursemodal" tabindex="-1" role="dialog" aria-labelledby="removecoursemodal" aria-hidden="true" id="removecoursemodal{{course.id}}">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header"><h5 class="modal-title" id="myModalLabel">Remove <i>{{course.name}}</i>?</h5><br></div>
			<div class="modal-body">
				<div align="right"><form name="removecourse" method="get" action="/remove">
					<input type="hidden" name="r" value="{{course.id}}"></input>
					<input name="Delete" type="submit" class="btn btn-danger" value="Remove"></input>
					<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
					</form>
				</div>
			</div>
		</div>
	</div>          
</div>
