<div class="modal fade sellbookmodal" tabindex="-1" role="dialog" aria-labelledby="sellbookmodal" aria-hidden="true" id="sellbookmodal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Sell book</h4>
				</div>
				<div class="modal-body">
					<form id="sellbookform" method="get" name="sellbookform" action="/search/">
					<div class="form-group">
                        <input type="text" class="form-control" data-provide="typeahead" placeholder="Search for books to sell (by title or by course 'COS 333')" name="q" id="sellBookInput"><br>
                        <div align="right">
                            <input type="submit" name="Search courses" class="btn btn-primary">
                            <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        </div>
                    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$('#sellbookmodal').on('shown.bs.modal', function() {$('#sellBookInput').focus()});
</script>
