Django==1.6.2
beautifulsoup4==4.3.2
dj-database-url==0.3.0
dj-static==0.0.5
gunicorn==18.0
pyisbn==1.0.0
pystache==0.5.3
redis==2.9.1
rq==0.3.13
six==1.6.1
static==1.0.2
times==0.6.2
wsgiref==0.1.2
South==0.7.3

