<div class="col-md-3 column">
	<ul class="nav nav-pills nav-stacked">
		<h4 style="font-variant:small-caps"> Bookshelf</h4>
		<li class="active"><a href="#"><span class="badge pull-right">4</span>All Items</a></li>
		<li><a href="#needtobuy"><span class="badge pull-right">2</span>Need to Buy</a></li>
		<li><a href="#selling"><span class="badge pull-right">1</span>Selling</a></li>
		<li><a href="#owned"><span class="badge pull-right">1</span>Owned</a></li>
		<h4 style="font-variant:small-caps">Courses</h4>
		<li><a href="courses/cos/333"><span class="badge pull-right">0/1</span>COS 333</a></li>
		<li><a href="courses/jpn/302"><span class="badge pull-right">1/2</span>JPN 302</a></li>
		<li><a href="courses/vis/202"><span class="badge pull-right">0</span>VIS 202</a></li>
		<li><a href="courses/other"><span class="badge pull-right">0</span>Other</a></li>
		<h4 style="font-variant:small-caps">Account Info</h4>
		<li><a href="profile">My Profile</a></li>
		<li><a href="history">My History</a></li>
		<li><a href="watchlist">My Watch List</a></li>
	</ul>
</div>
<div class="col-md-6 column">
	<div class="row clearfix" id="needtobuy">
		<div class="col-md-4">
		</div>
	</div>
</div>
