.caption {
	font-size: small
}

body { 
	padding-top: 70px;
	padding-bottom: 70px;
}

.navbar-fixed-bottom {
	padding-top: 15px;
}

td {
	font-size: small
}

th {
	font-size: small
}

.btn-centered {
  position: absolute;
  bottom: 50px;
}