.caption {
	font-size: small
}

body { 
	padding-top: 70px;
	padding-bottom: 70px;
}

.navbar-fixed-bottom {
	padding-top: 15px;
}

td {
	font-size: small
}

th {
	font-size: small
}

.img-responsive {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.align-top-left {
	position: absolute;
	margin-top: -5px;
	margin-left: -20px;
}

/*.align-bottom-right {
	position: absolute;
	margin-bottom: 15px;
	margin-right: 15px;
}
*/